<div class="inlineb login-all">
  <div id="navbar" style="height:65px;">
  
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "login-signin"}) do |f| %>

      <div class="login-signin-email inlineb">
        <%= f.email_field :email, autofocus: true, :placeholder => "Email" %>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <div class ="login-signin-forgot inlineb">
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        </div>
      <% end -%>
      </div>

      <div class="login-signin-password inlineb">
        <%= f.password_field :password, autocomplete: "off", :placeholder => "Password" %>
        <% if devise_mapping.rememberable? -%>
        <div class="login-signin-remember inlineb">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      </div>
      <div class="login-signin-submit inlineb">
        <%= f.submit "Sign in" %>
      </div>
    <% end %>
  </div>

<div class="login-bottom inlineb">
  <div class= "login-about inlineb ">
    <%= image_tag("login/ta.jpg", class: "login-pic")%>
  </div>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "login-signup inlineb"}) do |f| %>
    <%= devise_error_messages! %>
    <h2>Sign up</h2>
    <div><%= f.label :first_name %><br />
    <%= f.email_field :first_name, autofocus: true, :required => true %></div>

    <div><%= f.label :last_name %><br />
    <%= f.email_field :last_name, autofocus: true , :required => true%></div>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :required => true %></div>

    <div><%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", :required => true %></div>

    <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", :required => true %></div>

    <div><%= f.submit "Sign up" %></div>
  <% end %>
</div>

</div>