

<div id = "cp-content"  ng-controller = "ClassPageCtrl">
  <div  class="alert alert-success" id="notice"><h2 style = "margin: 0"><%= notice %></h2></div> <!-- DO NOT CHANGE STYLE OR H2 SYNTAX -->
	<div id = "cp-results">
		<legend id = "cp-classTitle" style = "border-color: grey;">
			<h1 style = "height: 50px; position: relative">
				<span><%= @class.number%></span> 

				<button id= "cp-uploadBtn" type="button" class="btn btn-default" title = "Upload" data-toggle="modal" data-target="#myModal" style="cursor: pointer">
					<img id = "cp-uploadImg" src = "/assets/uploadAlpha.png"/>

				</button>

			</h1>
			
		</legend>
		<div id = 'cp-searchOverlay'>
			<span style = "margin-right: 15px;" class = "cp-icon glyphicon glyphicon-search"></span>
		</div>
		<input type = 'text' id = 'cp-search' placeholder = 'Search Class Results' ng-model = "resultsSearch">
		<div id = "cp-filter" class="btn-group dropdown keep-open">
		  <button id = "cp-filterBtn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		    <span class="caret"></span>
		  </button>
		  <ul id = "cp-menu" class="dropdown-menu" role="menu" ng-model="resultsFilter">
		    <li>
          <h4>Sort by:</h4>
		    	<div class = "btn-group btn-group-justified" style = "text-align: center;">
		    		<div class = "btn btn-default" ng-click="changeSort(upvotes)">Top Rated</div>
		    		<div class = "btn btn-default" ng-click="changeSort(created_at)">Newest</div>
		    	</div>
		    </li>
		    <li class="divider"></li>
        <h4>Filter By:</h4>
		    <li class = "cp-filterOption" id = "cp-filterStarred"><a>Starred<span style = "float: right; color: #5FCA54; display: none;" class = "glyphicon glyphicon-ok"></span></a></li>
		    <li class = "cp-filterOption" id = "cp-filterVideos"><a value = "video">Videos<span style = "float: right; color: #5FCA54; display: none;" class = "glyphicon glyphicon-ok"></span></a></li>
		    <li class = "cp-filterOption" id = "cp-filterWebsites"><a>Websites<span style = "float: right; color: #5FCA54; display: none;" class = "glyphicon glyphicon-ok"></span></a></li>
		    <li class = "cp-filterOption" id = "cp-filterAudio"><a>Audio<span style = "float: right; color: #5FCA54; display: none;" class = "glyphicon glyphicon-ok"></span></a></li>
		    <li class = "cp-filterOption" id = "cp-filterNotes"><a><option value = "note">Notes<span style = "float: right; color: #5FCA54; display: none;" class = "glyphicon glyphicon-ok"></span></option></a></li>
		    <li class = "cp-filterOption" id = "cp-filterProblems"><a>Problems<span style = "float: right; color: #5FCA54; display: none;" class = "glyphicon glyphicon-ok"></span></a></li>
		    <li class = "cp-filterOption" id = "cp-filterOther"><a>Other<span style = "float: right; color: #5FCA54; display: none;" class = "glyphicon glyphicon-ok"></span></a></li>
		  </ul>
		</div>
		<div id = "cp-resultsDisplay">
			<div class = "cp-result" ng-repeat = "result in results | filter: resultsSearch | orderBy: resultsOrder" id = "cp-result{{result.id}}">
				<img class = "cp-result-starFilled" ng-if = "result.cpBookmarked()" src = '/assets/StarOutlineFilled.png'/>
				<img class = "cp-result-star" src = '/assets/StarOutline.gif'/>
				<h2 class = "cp-result-title">{{result.title}}</h2>
				<img class = "cp-result-icon" ng-src = '{{result.img}}'/>
				<h2 class = "cp-results-upvotes">{{result.upvotes}}</h2>
			</div>
		</div>
	</div>
  <div id = "cp-viewer">
  </div>
</div>
<!-- Modal -->
  <div class="modal fade" id="myModal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h3 class="modal-title" id="myModalLabel">Upload Content</h3>
      </div>
      <div class="modal-body" id="um-content">
      	<div id="um-fileOpt">
      		<ul class="nav nav-pills nav-stacked">
      			<li class="active"><a href="#" class="um-up-type" data-type ="Video" data-toggle="pill">Video</a></li>
      			<li><a href="#" class="um-up-type" data-type ="Website" data-toggle="pill">Website</a></li>
      			<li><a href="#" class="um-up-type" data-toggle="pill" data-type ="Audio">Audio</a></li>
      			<li><a href="#"  data-type ="Note" class="um-up-type"data-toggle="pill">Text/Example</a></li>
      		</ul>

      	</div>

        	<div id="um-inputs">
            <%= form_for(@resource, :html => { :class => "form-horizontal", :role => "form"}) do |f| %>
            <% if @resource.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

                <ul>
                <% @resource.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-group">
              <%= f.label :title  , :class => 'control-label'%>
              <%= f.text_field :title, :required=>:true, :class => 'form-control', :id => "um-title", :type => "title" , :placeholder =>'Enter Title'%>
            </div>
            <div class="form-group">
              <%= f.label "Class" , :class => 'control-label' %>
              <%= f.select(:class_ta_id, ClassTa.all.collect {|p| [ p.number, p.id ] }, :required=>:true)%>
            </div>
            <div class="form-group">
              <%= f.label :link , :class => 'control-label' %>
              <%= f.text_field :link, :required=>:true, :class => 'form-control',:id => 'um-link',:type => "link", :placeholder =>'Enter Link'%>
            </div>
            <input id ="um-inp-type" type="hidden" name="resource[type]" value="Video" ></input>
            <div class="form-group">
              <%= f.label :description , :class => 'control-label' %>
              <%= f.text_area :description, :required=>:true , :class => 'form-control', :id => 'um-descrip', :rows => '2', :placeholder =>'Enter Description'%>
            </div>
            
            <div class="modal-footer">
              <%= f.submit :class=> "btn btn-primary btn-large"%>
            </div>
            <% end %>
          

        	</div>
        </div>

      </div>
    </div>
  </div>


  <script type="text/javascript">
  var classid = <%= @id%>;
  var userId = <%= current_user.id %>;
  var resources;
  var addlike;
  var addbookmark;
  //this variable will have all the resouces
  cpBuild();
  </script>
