
<!DOCTYPE html>
<html ng-app="TAShareApp">
<head>
    <title>TAShare</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!-- // <script type="text/javascript" src="./app/assets/javascript/navbar.js"></script> -->

</head>

<body style = "font-family: GandhiSans;">
  <script>
    var class_list = <%= raw(classjson().to_json)%>;
    initNavBar();
  </script>

  <!-- <div id = "divPusher"></div> -->

  <!-- <div class="center">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div> -->
  <% if current_user != nil%>
  <div id="navbar" ng-controller = "NavbarCtrl">
    <div id = 'navContainer'>
      <div id = 'navLeft'>
        <div id='logo'>        
          <h1 style = 'margin-top: 1px; padding: 5px; font-family: BebasNeueBold; background-color: white; border: 0; border-radius: 5px;'>
          <%= link_to "TA-Share", root_path %>
        </h1>
      </div>
        <input type = 'text' id = 'search' placeholder = 'Search for Classes'>
        <span class="glyphicon glyphicon-search" style = "margin-left: -36px; color: black"></span>
        <!-- <select id = "search" style = "border: 0;
      border-radius: 5px;
      margin-top: 5px;
      margin-left: 20px;
      padding: 10px;
      font-size: 14pt;
      min-width: 150px;
      max-width: 500px;
      color: black;
      height: 40px;">
          <option ng-repeat = "class in classes" ng-click = "goToPage(class.link)">{{class.number}}: {{class.name}}</option>
        </select> -->
        <div style="display:inline-block;" id="addClassContainer">
          <span class="glyphicon glyphicon-plus-sign" id="addClass" data-toggle="modal" data-target="#addClassModal" style="cursor: pointer; margin-left: 20px; margin-top: -3px;"></span>
        </div>
      </div>

      <div id = 'navRight'>
        <div style = "position: relative; width: 45px; height: 45px; cursor: pointer; display: inline-block" data-toggle="modal" data-target="#picModal">
          <%= image_tag @current_user.avatar? ? @current_user.avatar.url(:thumb) : "profPic.png", {id: 'profPic', class: 'img-circle', style: 'position: absolute; height: 100%;'} %>
          <div id = "profImgOverlay" title = "Edit Profile Picture" data-placement = "bottom" data-toggle = "tooltip"><span class = "glyphicon glyphicon-edit" style = "margin-top: 13px; margin-left: 14px; font-size: 18px"></span></div>
        </div>
        <div id = 'name'> <%= @current_user.email %></div>

        <div class = "dropdown" style="display: inline-block;" id="gear" >
            <span id = "logOut" class = "glyphicon glyphicon-log-out" data-toggle="dropdown"></span>
            <ul class="dropdown-menu pull-right" role="menu" > 
              <!-- !!!!!!!Part for editing settings -->
<!--               <li role="presentation"><a role="menuitem" tabindex="-1" style = "cursor: pointer;" ><%= link_to 'Account Settings', edit_user_registration_path %></a></li> -->
              <li id = "signOut" role="presentation">
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              </li>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="picModal"  role="dialog" aria-labelledby="picModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h1 class="modal-title" id="picModalLabel">Edit Profile Picture</h1>
        </div>
      <div class="modal-body">
        <%= form_tag(addprofilepic_class_ta_path,method: "post", :multipart => true) do |f| %>
            <div class="form-group">
              <!-- <%= label_tag :avatar %> -->
              <%= file_field_tag :avatar, :required=>:true, :class => 'upload-image' %></div>
              <div>
            </div>         
            <div class="modal-footer">
              <%= submit_tag nil, :class=> "btn btn-primary btn-large" %>
            </div>
            <% end %>
      
      </div>
      </div>
    </div>
  </div>

    <div class="modal fade" id="addClassModal"  role="dialog" aria-labelledby="addClassLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h1 class="modal-title" id="addClassLabel">Add Class</h1>
        </div>
      <div class="modal-body">
        <%= form_tag(createClass_class_ta_path,method: "post", :class => "add-class") do |f| %>
            <div class="form-group">
              <%= text_field_tag :number, nil, :placeholder => "Class Number"%>
            </div>
            <div class="form-group">
              <input id="nameT" name="name" placeholder="Class Name" type="text">
            </div>
            <div class="form-group">
              <%= text_area_tag :description, nil, :placeholder => "Class Description"%>
            </div>

            <div class="modal-footer">
              <%= submit_tag nil, :class=> "btn btn-primary btn-large" %>
            </div>
            <% end %>
      </div>
      </div>
    </div>
  </div>

  <%end%>

  <div ng-view>
    <%= yield %>
  </div>


</body>
</html>
