<!DOCTYPE html>
<html ng-app="TAShareApp">
<head>
    <title>TAShare</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="./app/assets/javascript/navbar.js"></script>

</head>
<body style = "font-family: GandhiSans">
  <script>
    initNavBar();
  </script>

  <!-- <div id = "divPusher"></div> -->

  <!-- <div class="center">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div> -->
  <% if current_user != nil%>
  <div id="navbar">
    <div id = 'navContainer'>
      <div id = 'navLeft'>
        <div id='logo'>        
          <h1 style = 'margin-top: 1px; padding: 5px; font-family: BebasNeueBold; background-color: white; border: 0; border-radius: 5px;'>
          <%= link_to "TA-Share", root_path %>
        </h1>
      </div>
<!--         <div id = 'logo'><h1 style = 'margin-top: 10px; font-family: BebasNeueBold'>TA-Share</h1></div> -->
        <input type = 'text' id = 'search' placeholder = 'Search for Classes' style='color: black; font-size: 13.5px;'>
      </div>
      <div id = 'navRight'>
        <%= image_tag "profPic.png", {id: 'profPic', class: 'img-circle'} %>
        <div id = 'name'> <%= @current_user.email %></div>

        <div class = "dropdown" style="display: inline-block;" id="gear">
            <span class = "glyphicon glyphicon-cog" data-toggle="dropdown"></span>
            <ul class="dropdown-menu pull-right" role="menu" > <!-- style = "margin-right: 10px;" -->
              <!-- !!!!!!!Part for editing settings -->
<!--               <li role="presentation"><a role="menuitem" tabindex="-1" style = "cursor: pointer;" ><%= link_to 'Account Settings', edit_user_registration_path %></a></li> -->
              <li id = "signOut" role="presentation">
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              </li>
        </div>
        <!-- <span style = 'cursor: pointer;' id = 'gear' class = 'glyphicon glyphicon-cog'></span> -->
      </div>
    </div>
  </div>
  <%end%>

  <div ng-view>
    <%= yield %>
  </div>


</body>
</html>
