<!DOCTYPE html>
<html ng-app="TAShareApp">
<head>
    <title>TAShare</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="./app/assets/javascript/navbar.js"></script>

</head>

<body style = "font-family: GandhiSans; width:100%; height:100%;">
  <script>
    initNavBar();
  </script>

  <!-- <div id = "divPusher"></div> -->

  <!-- <div class="center">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div> -->
  <% if current_user != nil%>
  <script type="text/javascript">
  var class_list = <%= raw(classjson().to_json)%>;
  </script>
  <div id="navbar">
    <div id = 'navContainer'>
      <div id = 'navLeft'>
        <div id='logo'>        
          <h1 style = 'margin-top: 1px; padding: 5px; font-family: BebasNeueBold; background-color: white; border: 0; border-radius: 5px;'>
          <%= link_to "TA-Share", root_path %>
        </h1>
      </div>
<!--         <div id = 'logo'><h1 style = 'margin-top: 10px; font-family: BebasNeueBold'>TA-Share</h1></div> -->
        <input type = 'text' id = 'search' placeholder = 'Search for Classes'>
        <span class="glyphicon glyphicon-search" style = "margin-left: -36px; color: black"></span>
      </div>
      <div id = 'navRight'>
        <div style = "position: relative; width: 45px; height: 45px; cursor: pointer; display: inline-block" data-toggle="modal" data-target="#picModal" style="cursor: pointer">
          <%= image_tag @current_user.avatar? ? @current_user.avatar.url(:thumb) : "profPic.png", {id: 'profPic', class: 'img-circle', style: 'position: absolute; height: 100%;'} %>
          <div id = "profImgOverlay" title = "Edit Profile Picture" data-placement = "bottom" data-toggle = "tooltip"><span class = "glyphicon glyphicon-edit" style = "margin-top: 13px; margin-left: 14px; font-size: 18px"></span></div>
        </div>
        <div id = 'name'> <%= @current_user.email %></div>

        <div class = "dropdown" style="display: inline-block;" id="gear" >
            <span id = "logOut" class = "glyphicon glyphicon-log-out" data-toggle="dropdown"></span>
            <ul class="dropdown-menu pull-right" role="menu" > <!-- style = "margin-right: 10px;" -->
              <!-- !!!!!!!Part for editing settings -->
<!--               <li role="presentation"><a role="menuitem" tabindex="-1" style = "cursor: pointer;" ><%= link_to 'Account Settings', edit_user_registration_path %></a></li> -->
              <li id = "signOut" role="presentation">
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              </li>
        </div>
        <!-- <span style = 'cursor: pointer;' id = 'gear' class = 'glyphicon glyphicon-cog'></span> -->
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="picModal"  role="dialog" aria-labelledby="picModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h1 class="modal-title" id="picModalLabel">Upload Profile Picture</h1>
        </div>
      <div class="modal-body" id="um-content">
        <%= form_tag(addprofilepic_class_ta_path,method: "post", :multipart => true) do |f| %>
            <div class="form-group">
              <%= label_tag :avatar %>
              <%= file_field_tag :avatar, :required=>:true, :class => 'upload-image' %></div>
              <div>
            </div>         
            <div class="modal-footer">
              <%= submit_tag %>
            </div>
            <% end %>
      
      </div>
      </div>
    </div>
  </div>

  <%end%>

  <div ng-view style="width:100%; height:100%;">
    <%= yield %>
  </div>


</body>
</html>
